/*===== 1 =======
блок логотипа, содержащий два абзаца Grigorii Kurilchenko / photography*/
.logo{
    color: #000000;
    font-stretch:expanded;
    display : inline;
}

.logo :first-child {
    font-size: 2.5vmax;
}

.logo :last-child{
     font-size: 1.5vmax;
}
/*===== 2 =======
меню навигации по сайту*/
.menu{
    width:100%;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    padding-left: 0.4vmax;
    color: #000000;
    display: inline-block;

}
.menu div {
    display: inline-block;
}
.menu ul li{
	float:left;
	margin-right:5px;
	position:relative;
	display:block;
        font-size: 1.5vmax;
     
}
.menu ul li a{
	display:block;
	padding:5px;
	color:#000000;
	text-decoration:none;
        box-sizing: border-box;
	border-bottom: 3px outset transparent;

}
.menu ul li a:hover{ /*наведение курсора на пункт меню*/
	color:#000000;
	border-bottom: 3px solid #000000;
        box-sizing: border-box;

}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.menu .submenu{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.menu .submenu li{
	padding-top:3px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
}
.menu .submenu a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
	background: #393939;
        color: #FFFFFF;
}
.menu li:hover .submenu{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
	z-index: 999;
}
/*.menu li:hover a{  Устанавливаем стили для верхнего уровня, когда выводится выпадающий список 
        background:#6495ED;
	font-size: 120%;
}*/

.menu li:hover submenu a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;


}
.menu li:hover .submenu li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный подпункт меню*/
        color: #97ddf4;
	border-bottom: 3px outset transparent;
}

.main_menu{
    margin-left: 20vmax;
}



